<style>
    html{
        overflow-y: hidden;
    }
</style>
<div class="dashboard-div">
    <center>
        <div class="name-div">
            <span class="material-icons-outlined">
                lightbulb
                </span> <h4><%= name %></h4> 
        </div>
    </center>
    <h1>MetaWorks</h1>
    <ul class="nav-dash">
        <li><a href="" id="a-1">Lorem</a></li>
        <li><a href="" id="a-2">Lorem</a></li>
        <li><a href="" id="a-3">Lorem</a></li>
    </ul>
    <div class="log-dash-i"></div>
    <div class="user-blob">
        <span class="prof">
            <a href='' >Profile</a>
        </span>
        <div class="line"></div>
        <span>
            <a href="/logout" class="logout">Logout</a>
        </span>
        
    </div>
    <div class="user-prof-icon">
        <div class="line-div">
            <div class="line-1"></div>
            <div class="line-2"></div>
        </div>
        <div class="line-div-1">
            <div class="line-1"></div>
            <div class="line-2"></div>
        </div>
    </div>
</div>
<script src="./js/app.js"></script>

<!-- <h1>hello</h1>
<a href="/dashboard/work">Work</a> -->