<div class="landing-div">
    <div class="nav-div">
        <ul>
            <li>
                <a href="">About</a>
            </li>
            <li>
                <a href="">Client</a>

            </li>
            <li>
                <a href="">Features</a>
            </li>
            <li id="reg">
                <a href="/register">Register</a>
            </li>
        </ul>
    </div>
    <div class="title-div">
        <h1>
            Join, Interact, and Learn <br>
            <span >in this new world</span> 
        </h1>
        <br>
        <p>
            With the help of metaworks, you can learn, share, <br>
            interact with other people and experience office <br>
            environment.
        </p>
        <br>
        <a href="/dashboard">Go to dashboard</a>
    </div>
</div>
<div class="about-div">
    <h2>
        What is <span>metaworks?</span>
    </h2>
    <br>
    <br>

    <p>
        It is a web application that allows you to <br>
        interact with other people and learn about the office <br>
        environment.
    </p>
    <ul>
        <li>
            <span class="material-icons-outlined" id="span1">
                extension
            </span>
            <h3>Sample</h3>
            <p>
                Lorem, ipsum dolor sit amet consectetur <br>
                adipisicing elit. Rerum voluptatum, <br>
                repellendus 
            </p>
        </li>
        <li>
            <span class="material-icons-outlined" id="span2">
                donut_large
            </span>
            <h3>Sample</h3>
            <p>
                Lorem, ipsum dolor sit amet consectetur <br>
                adipisicing elit. Rerum voluptatum, <br>
                repellendus 
            </p>
        </li>
        <li>
            <span class="material-icons-outlined" id="span3">
                wb_incandescent
            </span>
            <h3>Sample</h3>
            <p>
                Lorem, ipsum dolor sit amet consectetur <br>
                adipisicing elit. Rerum voluptatum, <br>
                repellendus 
            </p>
        </li>
    </ul>
</div>
<div class="quote-div">
    "Lorem ipsum dolor sit amet consectetur adipisicing elit.
    <br>
    <span> Rerum voluptatum, repellendus.</span>
    "
</div>
<div class="feature-div">
    
    <div class="ft-content">
        <h4>
            Features
        </h4>
        <h2>
            Lorem ipsum dolor sit amet <br> consectetur, adipisicing elit. 
        </h2>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing <br> elit. Reiciendis provident eius est culpa dolore cupiditate <br> harum vitae libero quod? 
        </p>
    </div>

</div>
<div class="customer-div">
    <h2>What our client <span>say?</span></h2>
    <p>what they tell while using metaworks</p>
    <ul>
        <li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Rerum voluptatum, <br> repellendus.
            </p> <br>
            <span class="material-icons-outlined">
                account_circle
            </span>
            <h4>
                User
            </h4>
            <h6>
                Profession
            </h6>
        </li>
        <li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Rerum voluptatum, <br> repellendus.
            </p> <br>
            <span class="material-icons-outlined" id="s2">
                account_circle
            </span>
            <h4>
                User
            </h4>
            <h6>
                Profession
            </h6>
        </li>
        <li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Rerum voluptatum, <br> repellendus.
            </p> <br>
            <span class="material-icons-outlined" id="s3">
                account_circle
            </span>
            <h4>
                User
            </h4>
            <h6>
                Profession
            </h6>
        </li>
    </ul>
</div>
<div class="banner-div">
   <h2>
    What are you <span>waiting for?</span> 
   </h2>  <br>
   <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Rerum voluptatum, <br> repellendus. 
   </p>
</div>
<div class="footer-div">
    <div class="foot-log"></div>
    <h2>MetaWorks</h2>
    <p>
        Copyright 
        <span class="material-icons-outlined">
            copyright
        </span>
        2022
    </p>
</div>
<!-- <a href="/register">register</a>
<a href="/login">login</a> -->