<style>
    html{
        scroll-behavior: smooth;
    }
</style>
<div class="landing-div">
    <div class="nav-div">
        <ul>
            <li>
                <a href="#ab">About</a>
            </li>
            <li>
                <a href="#cl">Client</a>

            </li>
            <li>
                <a href="#ft">Features</a>
            </li>
            <li id="reg">
                <a href="/register">Register</a>
            </li>
        </ul>
    </div>
    <div class="title-div">
        <h1>
            Join, Interact, and Learn <br>
            <span>in this new world</span>
        </h1>
        <br>
        <p>
            With the help of metaworks, you can learn, share, <br>
            interact with other people and experience office <br>
            environment.
        </p>
        <br>
        <a href="/dashboard">Go to dashboard</a>
    </div>
</div>
<div class="about-div" id="ab">
    <h2>
        What is <span>metaworks?</span>
    </h2>
    <br>
    <br>

    <p>
        An online game that allows you to learn, share, <br>
        interact with other people and experience office <br>
        environment.
    </p>
    <ul>
        <li>
            <span class="material-icons-outlined" id="span1">
                work_outline
            </span>
            <h3>Work</h3>
            <p>
                Work and earn money <br>
                Do simple tasks <br>
                Increase your reputation
            </p>
        </li>
        <li>
            <span class="material-icons-outlined" id="span2">
                trending_up
            </span>
            <h3>Powerup</h3>
            <p>
                Buy Powerups to double <br>
                money , energy and reputation
            </p>
        </li>
        <li>
            <span class="material-icons-outlined" id="span3">
                sports_esports
            </span>
            <h3>Compete</h3>
            <p>
                Compete with other users <br>
                for a place on the leaderboard <br>
                Top 3 win exciting rewards <br>
            </p>
        </li>
    </ul>
</div>
<div class="quote-div">
    Work , Complain, Rest , Powerup and Win
    <br>
    <!-- <span> Rerum voluptatum, repellendus.</span>
    " -->
</div>
<div class="feature-div" id="ft">
    <img src="https://media.discordapp.net/attachments/927153298983755837/930829228994334780/LOGOalt.png?width=913&height=513" style="position: absolute; width: 42.5%; margin-top: -5vh;
    height: 25vw; margin-left: 10vh;" alt="">
    <div class="ft-content">
        <h4>
            Features
        </h4>
        <h2>
            Lorem ipsum dolor sit amet <br> consectetur, adipisicing elit.
        </h2>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing <br> elit. Reiciendis provident eius est culpa dolore cupiditate <br> harum vitae libero quod?
        </p>
    </div>

</div>
<div class="customer-div" id="cl">
    <h2>What our users <span>say?</span></h2>
    <p>what they tell while using metaworks</p>
    <ul>
        <li>
            <p>
                This is the best online game <br> ever.
            </p> <br>
            <span class="material-icons-outlined">
                account_circle
            </span>
            <h4>
                User
            </h4>
            <h6>
                Professional Gamer
            </h6>
        </li>
        <li>
            <p>
                Its addicting and fun to play. It's <br>
                really easy to learn.
            </p> <br>
            <span class="material-icons-outlined" id="s2">
                account_circle
            </span>
            <h4>
                User
            </h4>
            <h6>
                Casual Gamer
            </h6>
        </li>
        <li>
            <p>
                People love to play and watch <br> others play
            </p> <br>
            <span class="material-icons-outlined" id="s3">
                account_circle
            </span>
            <h4>
                User
            </h4>
            <h6>
                Twitch Streamer
            </h6>
        </li>
    </ul>
</div>
<div class="banner-div">
    <h2>
        What are you <span>waiting for?</span>
    </h2> <br>
    <p>
        Play it today for free !
    </p>
</div>
<div class="footer-div">
    <h2>MetaWorks</h2>
    <p>
        Copyright
        <span class="material-icons-outlined">
            copyright
        </span>
        2022
    </p>
</div>
<!-- <a href="/register">register</a>
<a href="/login">login</a> -->