<style>
      html{
        overflow-y: hidden;
    }
</style>
<div class="leaderboard-div">
    <h1>Metaworks</h1>
    <div class="leaderboard-content">
        <span class="material-icons-outlined">
            leaderboard
        </span>
        <h2>Leaderboard<span>.</span> </h2>
        <p>Here are the scores of working employees.</p>
    </div>
    <div class="nav-dash">
        <ul class="nav-dash-ul">
            <li><a href="/dashboard/market" id="a-1">Market</a></li>
            <li><a href="/dashboard" id="a-2" >Dashboard</a></li>
            <li><a href="/leaderboard" id="a-3">Leaderboard</a></li>
        </ul>
    </div>
    <div class="user-blob">
        <span class="prof">
            <a href='' >Profile</a>
        </span>
        <div class="line"></div>
        <span>
            <a href="/logout" class="logout">Logout</a>
        </span>
    </div>
    <div class="user-rank">
        <h3>Your rank : </h3> <p id="r"></p>
    </div>
    <div class="rank-div">
        <h2>first</h2>
        <h2>second</h2>
        <h2>third</h2> 
        <% for (let index = 0; index < 3; index++) {%>
                <div class="rank" id="rank<%=index%>">
                    <br>
                    <span class="material-icons-outlined" id="log">
                        account_circle
                    </span>
                    <h3><%= leaderboard[index].username %></h3>
                    <% if (leaderboard[index].username==user.username) { %>
                        <button>Reward</button> 
                    <%} else{ %>
                        <button disabled style="opacity: 0.6;">Reward</button>
                    <% } %>
                </div>           
        <% } %>
    </div>
    <div class="user-prof-icon">
        <div class="line-div">
            <div class="line-1"></div>
            <div class="line-2"></div>
        </div>
        <div class="line-div-1">
            <div class="line-1"></div>
            <div class="line-2"></div>
        </div>
    </div>
</div>
    <% for (let a = 0; a < leaderboard.length; a++) {%>
        <% if (leaderboard[a].username==user.username) { %>
           <script>
                document.getElementById("r").innerHTML = "<%= a+1 %>";
           </script>
        <%}%>
    <% } %>