<div class="login-div">    
    <h1>Login</h1>
    <p>Don't have an account? <a href='/register'>Register</a> </p>
    <form action="/login" method="post" autocomplete="off">
        <div class="form-gp">
            <label for="">Your Email</label> <br>
            <input type="text" name="email" id="" placeholder="john@doe.com">
        </div>
        <div class="form-gp">
            <label for="">Your Password</label> <br>
            <input type="password" name="password" id="" placeholder="at least 6 characters">
        </div>
        <input type="submit" value="Login" class="submit">
    </form>
</div>