<style>
    html {
        overflow-y: hidden
    }
</style>
<div class="market-div">
    <h1>Metaworks</h1>
    <div class="user-blob">
        <span class="prof">
            <a href=''>Profile</a>
        </span>
        <div class="line"></div>
        <span>
            <a href="/logout" class="logout">Logout</a>
        </span>
    </div>
    <div class="cart-div">
        <span class="material-icons-outlined">
            local_grocery_store
        </span>
        <h2>Shop<span>.</span> </h2>
        <!-- <form action="/dashboard/market/money" method="post">
            <button type="submit">Buy</button>
        </form> -->
        <!-- <form action="/dashboard/market/energy" method="post">
            <button type="submit">Buy</button>
        </form> -->
        <p>Purchase and experience new powerups</p>
    </div>
    <div class="user-stats-div">
        <div class="money">
            $
            <%= user.money %>
        </div>
        <div class="energy">
            <span class="material-icons-outlined">
                flash_on
            </span>
            <%= energy_per %>%
        </div>
        <div class="reputation">
            <span class="material-icons-outlined">
                star
            </span>
            <%= user.reputation %>
        </div>
    </div>
    <div class="market-h2">
        <div class="line-d"></div>
        <h2>
            Currently Available
        </h2>
    </div>
    <!-- <div class="market-banner">
        <div class="circle">
            <span class="material-icons-outlined">
                expand_less
            </span>
            <span class="material-icons-outlined" style="margin-top: 1.25vw; margin-left: 1.5vw;">
                expand_less
            </span>
        </div>
        <span class="material-icons-outlined" id="shield">
            shield
        </span>
        <div class="powerup-info">
            <h2>
                No Power Ups!
            </h2>
            <button disabled>
                Activate
            </button>
        </div>
    </div> -->
    <%if(power){%>
        <div class="user-curr-power">
            <h3>Currently Using : <span><%=power%></span></h3>
        </div>    
    <%} else {%>
        <div class="user-curr-power">
            <h3>Currently Using : <span>None</span></h3>
        </div>  
    <%}%>
    <div class="powers">
            <div class="power-card">
                <br><br>
                <span class="material-icons-outlined">
                    bolt
                </span>
                <h2>Energy</h2>
                <form class="power-form" id="p1" method="post">
                    <button type="submit">Buy</button>
                </form>
            </div>
            <div class="power-card">
                <br><br>
                <span class="material-icons-outlined">
                    monetization_on
                </span>
                <br>
                <h2>Money</h2>
                <form class="power-form" id="p2" method="post">
                    <button type="submit">Buy</button>
                </form>
            </div>
            <div class="power-card">
                <br><br>
                <span class="material-icons-outlined">
                    star
                </span>
                <br>
                <h2>Reputation</h2> 
                <form class="power-form" id="p3" method="post">
                    <button type="submit">Buy</button>
                </form>
            </div>
    </div>
    <div class="currency-shop-div"></div>
    <div class="nav-dash">
        <ul class="nav-dash-ul">
            <li><a href="/dashboard/market" id="a-1">Market</a></li>
            <li><a href="/dashboard" id="a-2" >Dashboard</a></li>
            <li><a href="/leaderboard" id="a-3">Leaderboard</a></li>
        </ul>
    </div>
    <div class="user-prof-icon">
        <div class="line-div">
            <div class="line-1"></div>
            <div class="line-2"></div>
        </div>
        <div class="line-div-1">
            <div class="line-1"></div>
            <div class="line-2"></div>
        </div>
    </div>
</div>
<script>
    document.querySelector('#p1').setAttribute('action', '/dashboard/market/energy');
    document.querySelector('#p2').setAttribute('action', '/dashboard/market/money');
    document.querySelector('#p3').setAttribute('action', '/dashboard/market/repo');
</script>
<script src="/js/app.js"></script>
<!-- <h1>
    Metaworks
</h1> -->