
<h1>Quiz</h1>
<form action="/dashboard/quiz" method="post" autocomplete="off">
    <% for( let i = 0; i < questions.length; i++ ) { %>
    <p> <%= questions[i]%> </p>
    <input type="text" name="answer<%= i+1 %>" id="" placeholder="Answer">
    <% } %>
    <button type="submit">Submit</button>
</form>