
<div class="reg-div">
    <h1>Create new account</h1>
    <p>Already have an account? <a href="/login">Login</a></p>
    <%- include('./partials/errors.ejs')  %> 
    <form action="/register" method="post">
        <div class="form-gp">
            <label for="">Username</label> <br>
            <input type="text" name="username" id="" placeholder="john10">
        </div>
        <div class="form-gp">
            <label for="">Email</label> <br>
            <input type="text" name="email" id="" placeholder="johndoe@gmail.com">
        </div>
        <div class="form-gp">
            <label for="">Password</label> <br>
            <input type="password" name="password" id="" placeholder="Should be more than 6 characters">
        </div>
        <div class="form-gp">
            <label for="">Confirm Password</label> <br>
            <input type="password" name="password2" id="" placeholder="Should match above password">
        </div>
        <input type="submit" value="Register" class="submit">
        <br>
    </form>
</div>