<h1>Register</h1>
<form action="/register" method="post">
    <input type="text" name="username" id="" placeholder="john10">
    <input type="text" name="email" id="" placeholder="johndoe@gmail.com">
    <input type="password" name="password" id="" placeholder="Repeat Password">
    <input type="password" name="password2" id="" placeholder="Repeat Password">
    <input type="submit" value="Register">
</form>