<h2>Remember the Sentence</h2>
<p>This 3 worded sentence will be visible for 10 seconds , memorise it then type it in the input again</p>

<p id="sent"> <%=sentence%> </p>

<input type="text" name="answer" placeholder="Type here" id="ans">

<script src="../js/work.js"></script>