<style>
     html{
        overflow-y: hidden;
    }
</style>
<div class="sent-div">
    <div class="title-span">
        <span class="material-icons-outlined">
            psychology
        </span>
        <h2>Remember the Sentence<span>.</span></h2>
        <p>This 3 worded sentence will be visible for 10 seconds , memorise it then type it in the input again</p>
    </div>
    <div class="ans-div">
        <p id="sent"> <%=sentence%> </p>
        <form action="/dashboard/sentence" method="post">
            <input type="text" name="answer" placeholder="Type here" id="ans"> <br>
            <button class="a-b" type="submit">Submit</button>
        </form>
    </div>
    <h1>Metaworks</h1>
</div>
<script src="../js/work.js"></script>
