@font-face {
    font-family: 'sofia pro';
    src: url('../font/sofia-pro.otf');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    overflow-x: hidden;
}
body{
    font-family: 'sofia pro';
    background: #eee;
}
.landing-div{
    width: 100%;
    background: #121E2A;
    height: 50vw;
}
.title-div{
    text-align: center;
    color: #eee;
    padding-top: 10vw;
    height: 35vw;
}
.title-div h1{
    font-size: 3.5vw;
    font-weight: 800;
    letter-spacing: 2px;
}
.about-div h2 span{
    color: #33A9FE;
}
.title-div p{
    font-size: 1vw;
    letter-spacing: 1px;
    margin-top: 2.5vw;
    padding-bottom: 2.5vw;
}
.title-div h1 span{
    color: #33A9FE;
}
.title-div a {
    background: #eee;
    color: #121E2A;
    font-size: 1.5vw;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    border-radius: 2vw;
    text-decoration: none;
    transition:  0.1s ease;
}
.title-div a:hover{
    background: transparent;
    color: #eee;
    border: 1px solid #eee;
}
.about-div{
    margin-top: 7.5vw;
}
.about-div h2{
    font-size: 3.5vw;
    font-weight: 800;
    color: #121E2A;
}
.about-div h2, .about-div p, .about-div h3 {
    text-align: center;
}
.about-div ul{
    display: flex;
    justify-content: center;
    list-style: none;
    margin-left: 2.5vw;
}
.about-div ul li{
    width: 26.5vw;
    height: 27.5vw;
    background: #121E2A;
    margin-top: 5vw;
    margin-bottom: 5vw;
    margin-right: 5vw;
    border-radius: 2.5vw;
    background: #eee;
    box-shadow:  10px 10px 20px #d0d0d0,
    -10px -10px 20px #e2e2e2;
    padding-top: 4vw;
}
.material-icons-outlined{
    font-family: 'Material Icons';
}
#span1,#span2,#span3{
    font-size: 7.5vw;
    margin-left: 9.5vw;
    padding-top: 5vw;
}
#span1{
    color: #F47960;
}
#span2{
    color: #35DF91;
}
#span3{
    color: #FAC762;
}
.about-div h3{
    padding-top: 0.25vw;
    font-size: 2.25vw;
    padding-bottom: 0.5vw;
}
.feature-div{
    margin-top: 5vw;
}
.ft-content{
    margin-left: 52.5vw;
    margin-top: 10vw;
}
.feature-div h4{
    color: #33A9FE;
    letter-spacing: 2.5px;
    font-size: 1.25vw;
}
.ft-content h2{
    letter-spacing: 1px;
    font-size: 2vw;
    margin-top: 0.5vw;
}
.ft-content p{
    font-size: 1.15vw;
    margin-top: 1.5vw;
}
.quote-div{
    margin-top: 10vw;
    text-align: center;
    letter-spacing: 1px;
    font-size: 2vw;
    font-weight: 800;
}
.quote-div span{
    color: #33A9FE;
}
.customer-div{
    margin-top: 15vw;
}
.customer-div h2, .customer-div p{
    text-align: center;
    letter-spacing: 1px;
}
.customer-div h2{
    font-size: 3.5vw;
}
.customer-div h2 span{
    color: #33A9FE;
}
.customer-div p{
    margin-top: 2.5vw;
}
.customer-div ul{
    display: flex;
    justify-content: center;
    list-style: none;
    margin-left: 2.5vw;
}
.customer-div ul li{
    width: 26.5vw;
    height: 17.5vw;
    background: #121E2A;
    margin-top: 5vw;
    margin-bottom: 5vw;
    margin-right: 5vw;
    border-radius: 2.5vw;
    background: #eee;
    box-shadow:  10px 10px 20px #d0d0d0,
    -10px -10px 20px #e2e2e2;
    padding-top: 4vw;
    cursor: pointer;
    transition: all 0.2s ease;
}
.customer-div ul li span{
    font-size: 3.5vw;
    padding-left: 1.75vw;
    color: #121E2A;
}
.customer-div ul li p{
    text-align: left;
    margin-left: 2.5vw;
    margin-top: 1vw;
    font-size: 1vw;
}
.customer-div ul li h4{
    position: absolute;
    margin-left: 6.5vw;
    margin-top: -3.25vw;
}
.customer-div ul li h6{
    position: absolute;
    margin-left: 6.5vw;
    margin-top: -1.65vw;
}
.customer-div ul li:hover{
    background: #121E2A;
    color: #eee;
}
.customer-div ul li:hover span{
    color: #F47960;
}
.customer-div ul li:hover #s2{
    color: #35DF91;
}
.customer-div ul li:hover #s3{
    color: #FAC762;
}
.banner-div{
    height: 20vw;
    background: #33A9FE;
    margin-top: 5vw;
    color: #121E2A;
}
.banner-div h2{
    font-size: 3vw;
    text-align: center;
    margin-top: 5vw;
}
.banner-div h2 span{
    color:#eee;
}
.banner-div p{
    text-align: center;
    font-size: 1.35vw;
    color: #eee;
}
.footer-div{
    height: 10vw;
    background: #121E2A;
}
#reg{
    margin-left: 1.5vw;
}
.nav-div ul{
    list-style: none;
    display: flex;
    margin-left: 36.5vw;
    width: 27.5vw;
    padding-top: 2.5vw;
}
.nav-div ul a{
    color: #eee;
    font-size: 1.5vw;
    text-decoration: none;
}
.foot-log{
    width: 3.5vw;
    height: 3.5vw;
    background: #eee;
    position: absolute;
    border-radius: 100%;
    margin-top: 3.5vw;
    margin-left: 2.5vw;
}
.footer-div h2{
    color: #33A9FE;
    letter-spacing: 1.5px;
    position: absolute;
    margin-left: 7.5vw;
    margin-top: 4.25vw;
}
.footer-div p{
    color: #eee;
    font-weight: 700;
    letter-spacing: 1.5px;
    position: absolute;
    margin-left: 75vw;
    margin-top: 4.75vw;
}
.login-div,.reg-div{
    position: absolute;
    width: 35vw;
    margin-left: 10vw;
}
.login-div{
    margin-top: 9.5vw;
}
.reg-div{
    margin-top: 6.75vw;
}
.login-div h1,.reg-div h1{
    font-size: 3.5vw;
}
.login-div p,.reg-div p{
    margin-top: 1.5vw;
    letter-spacing: 1px;
}
.login-div p a ,.reg-div p a{
    color: #33A9FE;
    text-decoration: none;
}
.login-div form,.reg-div form{
    margin-top: 3.5vw;
}
.form-gp{
    margin-bottom: 2.5vw;
}
.form-gp input{
    margin-top: 1vw;
    width: 25vw;
    height: 2.5vw;
    padding-left: 1vw;
    font-family: 'sofia pro', sans-serif;
    border-radius: 5px;
    border: none;
    background: #121E2A;
    color: #eee;
    letter-spacing: 1px;
    margin-left: 0.5vw;
}
.form-gp input:focus{
    outline: none !important; 
}
.login-div .submit, .reg-div .submit{
    width: 15vw;
    height: 3vw;
    font-size: 1.25vw;
    background: #33A9FE;
    border: none;
    color: #eee;
    border-radius: 2vw;
    cursor: pointer;
}
.error-div{
    color: red;
}
.dashboard-div,.market-div,.leaderboard-div{
    background: #121E2A;
    height: 100vh;
}
.dashboard-div h1,.market-div h1,.leaderboard-div h1{
    font-size: 10vw;
    color: #172231;
    letter-spacing: 1px;
    position: absolute;
    margin-top: 82.5vh;
    text-align: center;
}
.nav-dash{
    position: absolute;
    margin-top: 50vw;
    margin-left: 37.5vw;
}
.nav-dash-ul {
    display: flex;
    width: 25vw;
}
#a-2{
    margin-left: -1vw;
    position: absolute;
}
#a-3{
    position: absolute;
}
.nav-dash-ul li{
    list-style: none;
    flex: 0 1 auto; 
    color: #eee;
    font-size: 1.25vw;
}
.nav-dash a{
    color: #eee;
    text-decoration: none;
    transition: all 0.2s ease;
}

#a-1:hover{
    color: #35DF91;
}

#a-2:hover{
    color: #F47960;
}

#a-3:hover{
    color: #FAC762;
}

.log-dash-i{
    position: absolute;
    width: 2.5vw;
    height: 2.5vw;
    background: #eee;
    border-radius: 100%;
    margin-left: 3.5vw;
    margin-top: 50vw;
}
.line-1,
.line-2{
    background: #eee;
    height: 3.5px;
    width: 100%;
}
.line-div-1{
    width: 3.5vw;
    display: none;
    cursor: pointer;
}
.line-2{
    margin-top: 0.2vw;
}
.user-prof-icon{
    position: absolute;
    margin-left: 91.5vw;
    margin-top: 50vw;
}
.line-div{
    width: 2vw;
    height: 10px;
    cursor: pointer;
}
.user-blob{
    position: absolute;
    margin-top: 40vw;
    width: 15vw;
    height: 7.4vw;
    background: rgba(0, 0, 0  ,0.5);
    margin-left: 77.5vw;
    padding:5px;
    border-radius: 10px;
    display: none;
}
.user-blob span{
    text-align: center;
    border-radius: 5px;
    position: absolute;
    padding-top: .5vw;
    width: 14.3vw;
    padding-bottom: .5vw;
    margin-top: 4vw;
}
.user-blob span:hover{
    background: red;
}
.user-blob span:hover a {
    color: #eee;
}
.user-blob a{
    text-decoration: none;
    color: #eee;
    margin-bottom: 5vw;
    letter-spacing: 1px;
}
.user-blob .prof{
    text-align: center;
    border-radius: 5px;
    position: absolute;
    padding-top: .5vw;
    width: 14.3vw;
    padding-bottom: .5vw;
    margin-top: .5vw;
}
.user-blob .prof:hover{
    background: transparent;
}
.user-blob .prof a:hover{
    color: #33A9FE;
}
.line{
    position: absolute;
    width: 12.5vw;
    margin-left: 1vw;
    height: 2px;
    background: rgba(255, 255, 255, 0.1);
    margin-top: 3.5vw;
}
.prof-div{
    width: 20vw;
    height: 40vw;
    background: #172231;
    position: absolute;
    border-radius: 1.5vw;
    margin-top: 4.5vw;
    margin-left: 3.5vw;
}
.button-div{
    width: 17.5vw;
    height: 15vw;
    background: #1F2E43;
    margin-left: 1.35vw;
    margin-top: 23.5vw;
    border-radius: 1.5vw;
}
.log-info{
    position: absolute;
    text-align: center;
    margin-top: 1.5vw;
}
.log-info #log{ 
    color: #eee;
    font-size: 13.5vw;
}
.log-info h2{
    color: #eee;
}
.user-s {
    display: flex;
    font-size: 1.5vw;
    font-weight: 800;
    width: 15vw;
    margin-left: 2vw;
    margin-top: 15px;
}
.energy{
    color: #FAC762;
}
.money{
    color: #35DF91;
}
.log-info h5{
    color: #35DF91;
    margin-top: 10px;
}
.button-div{
    padding-top: 1.5vw;
}
.icons-1,.icons-2{
    display: flex;
    text-align: center;
    font-size: 1.5vw;

    margin-top: 1vw;
}
.icons-2{
    margin-top: 2vw;
}
.suit{
    color: #35DF91;
}
.complain{
    color: #F47960;
}
.rest{
    color: #eee;
}
.repo{
    color: #eee;
}
.status-icon{
    position: absolute;
    width: 2vw;
    height: 2vw;
    background: #35DF91;
    margin-top: -8.5vw;
    border-radius: 100%;
    margin-left: 13.5vw;
    border: 5px solid #172231;
}
.curr-div{
    position: absolute;
    color: #eee;
    margin-left: 30vw;
    margin-top: 13.5vw;
    overflow-y: scroll ;
    height: 30vw; 
}

.curr-line{
    width: 3.5vw;
    height: 3.5px;
    border-radius: 10px;
    background-color: #33A9FE;
}
.curr-div h2,.job-stats h2{
    margin-top: 0.5vw;
    letter-spacing: 2px;
}
.timeline-list{
    margin-top: 2.5vw;
}
.job-stats{
    position: absolute;
    color: #eee;
    margin-top:13.5vw;
    margin-left: 70vw;
}
.material-icons-round{
    font-family: 'Material Icons', sans-serif;
}
.rate{
    margin-top: 1.5vw;
    font-size: 2vw;
    color: #33A9FE;
    margin-left: 1vw;
}
.rate p {
    font-size: 1.2vw;
    color: #eee;
    font-weight: lighter;
}
.graph-div{
    margin-top: 3.75vw;
    width: 22.5vw;
    height: 19vw;
    background-color: #1F2E43;
    padding: 1vw;
    border-radius: 10px;
}
.l{
    background-color: #33A9FE;
    width: 2.5vw;
    height: 0.25vw;
    border-radius: 10px;
    margin-left: 0.25vw;
    margin-top: 0.5vw;
}
.graph-div h3{
    letter-spacing: 1px;
    margin-left: 0.25vw;
    margin-top: .5vw;
}
.graph-div h3 span{
    color: #33A9FE;
}
#m{
    color: #35DF91;
}
#o{
    color: #FAC762;
}
#c{
    color: #F47960;
}
#m,#o,#c{
    font-size: 2.5vw;
    position: absolute;
}
.timeline-list h4{
    font-size: 2.5vw;
    margin-bottom: 2vw;
}
.timeline-list li{
    margin-bottom: 2.5vw;
    padding-left: 2vw;
}.timeline-list li p{
    margin-left: 4vw;
    margin-top: 0.5vw;
}
.note-o,.note-s{
    margin-left: 27.5vw;
    margin-top: -1.75vw;
    position: absolute;
    font-size: 1.5vw;
}
.note-o{
    padding-left: 1.5vw;
    color: #FAC762;
}
.note-s{
    color: #35DF91;
    padding-left: 1.5vw;
}
.hello-div{
    position: absolute;
    color: #eee;
    margin-top: 3.5vw;
    margin-left: 30vw;
}
.hello-div h2{
    font-size: 2.5vw;
    letter-spacing: 1px;
    margin-top: 1vw;
    margin-left: 5vw;
}
.hello-div span{
    color: #33A9FE !important;
}
.hello-div h2 span{
    color: #33A9FE;
}
.hello-div p{
    margin-left: 5vw;
}
.hello-div .material-icons-outlined{
    font-size: 2.5vw;
    color: #eee;
    margin-left: 1vw;
    margin-top: 2.85vw;
    position: absolute;
}
.note-s span{
    margin-top: 15px;
}
.cart-div{
    position: absolute;
    height: 10vw;
    margin-left:33.5vw;
    margin-top: 3.5vw;
}
.cart-div span{
    font-size: 2.5vw;
    color: #35DF91;
}
.cart-div h2{
    font-size: 2.5vw;
    color: #eee;
    letter-spacing: 1px;
    margin-top: 1.35vw;
    margin-left: 5vw;
}
.cart-div p{
    color: #eee;
    margin-left: 5vw;
    margin-top: 1.5vw;
}
.cart-div .material-icons-outlined{
    margin-left: 1vw;
    margin-top: 1.5vw;
    position: absolute;
}
.user-stats-div{
    position: absolute;
    display: flex;
    width: 25vw;
    font-size: 1.5vw;
    background: #172231;
    padding-left: 3.5vw;
    padding-top: 2.5vw;
    padding-bottom: 2.5vw;
    margin-left: 6.5vw;
    margin-top: 4.5vw;
    border-radius: 1vw;
}
.reputation{
    color: #33A9FE;
}
.market-h2{
    position: absolute;
    color: #eee;
    letter-spacing: 1px;
    margin-left: 8.5vw;
    margin-top: 16.5vw;
}
.market-h2 h2{
    margin-top: 5px;
}
.market-banner{
    width: 25vw;
    height: 25vw;
    background: #172231;
    position: absolute;
    border-radius: 1.5vw;
    margin-left: 6.5vw;
    margin-top: 20.5vw;
}
.line-d{
    width: 3.5vw;
    height: 3.5px;
    border-radius: 10px;
    background-color: #35DF91;
}
.circle{
    width: 7.5vw;
    height: 7.5vw;
    border-radius: 100%;
    background: #121E2A;
    position: absolute;
    margin-top: 5vw;
    left: 30%;
    overflow: hidden;
}
.circle .material-icons-outlined{
    color: #1F2E43;
    font-size: 5vw;
    position: absolute;
    transform: rotate(-30deg);
    margin-left: 0.75vw;
}
#sent{
    user-select: none;
}
.sent-div{
    height: 100vh;
    background: #121E2A;
    color: #eee;   
}
.title-span h2{
    font-size: 2.5vw;
    letter-spacing: 1px;
}
.title-span{
    position: absolute;
    margin-top: 7.5vw;
    margin-left: 25vw;
}
.title-span h2{
    margin-left: 3.5vw;
}
.title-span h2 span{
    color: #F47960;
}
.title-span p{
    margin-left: 3.5vw;
    margin-top: 1vw;
}
.title-span .material-icons-outlined{
    color: #F47960;
    font-size: 1.5vw;
}
.ans-div {
    position: absolute;
    margin-left: 25vw;
    margin-top: 15vw;
}
.ans-div #sent{
    font-size: 2.5vw;
    letter-spacing: 1px;
    font-weight: 700;
    margin-left: 4.5vw;
    margin-top: 2.5vw;
}
.ans-div input{
    width: 45vw;
    height: 5vw;
    padding-left: 1vw;
    font-family: 'sofia pro', sans-serif;
    margin-top: 5vw;
    font-size: 3.5vw;
    margin-left: 3.5vw;
    border-bottom: 2px solid #33A9FE;
    border-radius: .1vw;
    background: transparent;
    border-top:none;
    border-left: none;
    color: #eee;
    padding-bottom: 1vw;
    border-right: none;
}
.ans-div input:focus{
    outline: none;
}
.a-b{
    width: 20vw;
    font-family: 'sofia pro';
    height: 3.5vw;
    background: #33A9FE;
    font-size: 2vw;
    color: #eee;
    letter-spacing: 1px;
    border: none;
    border-radius: 2vw;
    cursor: pointer;
    margin-top: 5vw;
    margin-left: 5vw;
}
.sent-div h1{
    font-size: 10vw;
    color: #172231;
    letter-spacing: 1px;
    position: absolute;
    margin-top: 46.5vw;
    text-align: center;
}
.quiz-div{
    height: 100vw;
    background: #121E2A;
    color: #eee;
}
.quiz-div h2{
    font-size: 3.5vw;
    letter-spacing: 1px;
}
.quiz-div h2 span{
    color: #F47960;
}
.quiz-span{
    position: absolute;
    margin-top: 5vw;
    padding-left: 15vw;
}
.quiz-form{
    margin-top: 15vw;
    width: 40vw;
    margin-left: 20.5vw;
}
.quiz-form p{
    letter-spacing: 1px;
    font-size: 1.5vw;
    margin-bottom: 1vw;
    margin-top: 00.5vw;
}
.quiz-form input{
    font-family: 'sofia pro', sans-serif;
    height: 2.5vw;
    padding-left: 1.5vw;
    font-size: 1.5vw;
    border-bottom: 2px solid #33A9FE;
    border-top: none;
    border-left: none;
    border-right: none;
    background: transparent;
    padding-bottom: 0.5vw;
    color: #eee;
}
.quiz-form input:focus{
    outline: none;
}
.quiz-form button{
    margin-top: 5vw;
    font-family: 'sofia pro', sans-serif;
    width: 20vw;
    height: 3.5vw;
    font-size: 2vw;
    color: #eee;
    background: #33A9FE;
    border-radius: 2vw;
    border:none;
    cursor: pointer;
}
.quiz-div .material-icons-outlined{
    font-size: 1.5vw;
    color: #F47960;
}
#shield{
    position: absolute;
    margin-top: 7.5vw;
    margin-left: 11.5vw;
    color: #FAC762;
    font-size: 5vw;
}
.powerup-info{
    text-align: center;
    position: absolute;
    margin-top: 15vw;
    color: #fac762;
    letter-spacing: 1px;
}
.powerup-info button{
    width: 10vw;
    height: 2.5vw;
    border-radius: 2vw;
    margin-top: 1.5vw;
    background-color: #121E2A;
    color: #FAC762;
    border: none;
    opacity: 0.9;
}
.result-div{
    height: 100vw;
    background: #121E2A;
}
.result-div h2{
    color: #eee;
    font-size: 3.5vw;
    letter-spacing: 1px;
    position: absolute;
    margin-top: 2.5vw;
    margin-left: 5vw;
}
.res-span{
    position: absolute;
    margin-left: 7.5vw;
    margin-top: 7.5vw;
    font-size: 2vw;
    color: #eee;
}
.result-div a{
    width: 20vw;
    height: 3.5vw;
    font-size: 2vw;
    color: #eee;
    background: #33A9FE;
    border-radius: 2vw;
    border:none;
    cursor: pointer;
    position: absolute;
    margin-left: 5vw;
    margin-top: 25vw;
    text-align: center;
    text-decoration: none;
    padding-top: 0.5vw;
}
.curr-div h5{
    font-size: 5vw;
    letter-spacing: 2px;
    margin-top: 2.5vw;
    margin-left: 1.5vw;
}
.suit{
    cursor: pointer;
}
.modal,.modal-1{
    display: none;
    width: 35vw;
    height: 15vw;
    background-color: #172231;
    position: absolute;
    margin-top: 20vw;
    padding: 10px;
    border-radius: 1vw;
    margin-left: 32.5vw;

}
.complain,.repo{
    cursor: pointer;
}
.modal-div{
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0  ,0.5);
    height: 100vh;
    margin-top:-55vw;
    display: none;
}
@keyframes modal-animation {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.close,.close-1{
    width: 2.5vw;
    height: 2.5vw;
    font-size: 1.25vw;
    margin-left: 30vw;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #eee;
    transition: all 0.5s ease;
}
.close:hover,.close-1:hover{
    font-size: 1.5vw;
}
.leaderboard-content{
    position: absolute;
    margin-top: 5vw;
    margin-left: 35vw;
    color: #eee;
    font-size: 2vw;
}
.leaderboard-content h2{
    margin-left: 3.5vw;
}
.leaderboard-content h2 span{
    color: #FAC762;
}
.leaderboard-content p{
    font-size: 1.5vw;
    margin-left: 3.5vw;
}
.leaderboard-content .material-icons-outlined{
    color: #FAC762;
    position: absolute;
    margin-top: .75vw;
}
.user-rank{
    background-color: #1F2E43;
    color: #eee;
    width: 20vw;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
    border-radius: 1vw;
    position: absolute;
    margin-top: 4.5vw;
    margin-left: 3.5vw;
}
.user-rank h3{
    color: #FAC762;
}
.user-rank p{
    position: absolute;
    margin-top: -1.7vw;
    margin-left: 7vw;
    font-size: 1.5vw;
}
.rank{
    background: rgba(23, 51, 75, 0.09);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.6px);
    -webkit-backdrop-filter: blur(7.6px);
    border-radius: 1.2vw;
    text-align: center;
}
#rank0{
    position: absolute;
    margin-top: 20vw;
    margin-left: 38.5vw;
    height: 25vw;
    width: 22.5vw;
}
#rank1{
    height: 20vw;
    width: 22.5vw;
    position: absolute;
    margin-top: 25vw;
    margin-left: 10vw;
}
#rank2{
    height: 18.5vw;
    width: 22.5vw;
    position: absolute;
    margin-top: 26.5vw;
    margin-left: 67vw;
}
.rank-div h2:nth-child(1){
    font-size: 5vw;
    position: absolute;
    font-weight: 800;
    letter-spacing: 1px;
    color: #33A9FE;
    text-align: center;
    margin-top: 16vw;
}
.rank-div h2:nth-child(2){
    font-size: 5vw;
    position: absolute;
    font-weight: 800;
    letter-spacing: 1px;
    color: #FAC762;
    margin-left: 12.5vw;
    margin-top: 21vw;
}
.rank-div h2:nth-child(3){
    font-size: 5vw;
    position: absolute;
    font-weight: 800;
    letter-spacing: 1px;
    color: #35DF91;
    margin-left: 72.5vw;
    margin-top: 22.5vw;
}

#rank0 .material-icons-outlined{
    font-size: 12.5vw;
    color: #eee;
}
#rank1 .material-icons-outlined{
    font-size: 10vw;
    color: #eee;
}
#rank2 .material-icons-outlined{
    font-size: 7.5vw;
    color: #eee;
}
#rank0 button{
    width: 20vw;
    height: 3vw;
    font-family: 'sofia pro', sans-serif;
    font-size: 1.5vw;
    border-radius: .5vw;
    background: #1f2e43a1;
    color: #eee;
    border:none;
    margin-top: 5vw;
    cursor: pointer;
}
#rank1 button{
    width: 20vw;
    height: 3vw;
    font-family: 'sofia pro', sans-serif;
    font-size: 1.5vw;
    border-radius: .5vw;
    background: #1f2e43a1;
    color: #eee;
    border:none;
    cursor: pointer;
    margin-top: 2vw;
}
#rank2 button{
    width: 20vw;
    height: 3vw;
    font-family: 'sofia pro', sans-serif;
    font-size: 1.5vw;
    border-radius: .5vw;
    background: #1f2e43a1;
    color: #eee;
    border:none;
    cursor: pointer;
    margin-top: 3vw;
}
.rank h3{
    color: #eee;
    letter-spacing: 1px;
    font-size: 1.5vw;
}